.main-values {
  .fp-tableCell {
    vertical-align: middle;
  }
  .card {
    position: relative;
    background: #fff;
    border-radius: 10px;
    height: 100%;
    box-shadow: 0 5px 12px 0px rgba(0, 0, 0, 0.1);
    transition: all 500ms ease;

    .bg-wrapper {
      height: 280px;
      background: #edf2f7;
      padding: 20px 30px;
      border-radius: 10px 10px 0 0;
      transition: all ease 0.3s;
    }

    .content h4 {
      line-height: 22px;
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.18);
    }
  }
}
.section.vacancies {
  .open-vacancy {
    display: flex;
    flex-wrap: wrap;
  }

  .job-item {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid #eee;
    border-radius: 5px;

    .content {
      transition: all 0.3s ease;
      opacity: 0.9;
      background: linear-gradient(transparent, #222);

      h4 {
        text-transform: capitalize;
        font-weight: 600;
      }

      i {
        color: #fff;
        opacity: 0.8;
      }
    }

    &:hover {
      .content {
        opacity: 1;
      }
    }
  }
}

.section.faq {
  .fp-tableCell {
    vertical-align: middle;
  }
}
