.section.brands {
  .fp-tableCell {
    vertical-align: middle;
  }
}
.industry {
  .ant-tabs {
    .ant-tabs-nav-list {
      margin-top: 16%;
    }

    .ant-tabs-nav {
      flex-basis: 50%;
    }

    .ant-tabs-content-holder {
      border: 0;
    }

    .ant-tabs-ink-bar {
      display: none;
    }

    .ant-tabs-tab-btn .title {
      display: flex;
      align-items: center;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.7);
      transition: all ease 0.2s;

      > .image-icon {
        display: none;
        margin: 15px 0 0 30px;
        transition: all ease 0.3s;
      }
    }

    .ant-tabs-tab {
      margin-left: 192px;
      width: max-content;
      background: #fff;
      padding: 0;
      margin-bottom: 10px;

      &.ant-tabs-tab-active .title {
        color: #00488d;

        > .image-icon {
          display: block;
        }
      }

      &:not(.ant-tabs-tab-active):hover {
        .title {
          opacity: 0.9;
        }
      }
    }
  }

  .ant-tabs-content-holder {
    .desc {
      animation-name: bounce-1;
      animation-duration: 1s;
      animation-timing-function: linear;
    }
  }
}
.arrow {
  position: absolute;
  bottom: -30px;
  right: 400px;
}

@keyframes bounce-1 {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
