.section.projects {
  .fp-tableCell {
    .fp-scrollable {
      z-index: 3;
    }
  }

  .projects-wrapper {
    position: relative;
    z-index: 3;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
  }

  .project {
    /* height: 250px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: all ease 0.8s; */

    .content {
      z-index: 3;
      font-size: 20px;
      padding: 20px 30px;
      line-height: 24px;

      h4 {
        text-transform: uppercase;
      }
      h4,
      a {
        color: $color-white;
        font-weight: 600;
      }

      .readmore {
        overflow: hidden;
        white-space: nowrap;
        width: 0;
        transition: all ease 0.4s;
      }
      .more > img {
        width: 30px;
      }
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      transition: all ease 0.8s;
      background: rgba(0, 0, 0, 0.4);
    }

    &:hover {
      &:after {
        background: rgba(0, 0, 0, 0.1);
      }
      .readmore {
        width: 80px;
        transition: width 0.4s ease;
      }
    }
  }

  .desc {
    padding: 0 2.5rem;

    p {
      max-height: 140px;
      overflow: auto;
      margin: 0;
    }

    h4 {
      font-size: 22px;
      color: $primary-color;
      font-weight: 500;
    }
  }
  .project-slider .slick-slide {
    padding: 0;
  }
  .project-slider .slick-next,
  .project-slider .slick-prev {
    top: 105%;
    transform: initial;
  }
}
