
/*---------------------------------------------------------------------------*
 * SF UI Display
 *---------------------------------------------------------------------------*/

/** Black */
@font-face {
  font-family: "SFCompactDisplay";
  font-weight: 900;
  src: url('../fonts/SF-Compact-Display-Black.otf');
}

/** Bold */
@font-face {
  font-family: "SFCompactDisplay";
  font-weight: 700;
  src: url('../fonts/SF-Compact-Display-Bold.otf');
}

/** Heavy */
@font-face {
  font-family: "SFCompactDisplay";
  font-weight: 800;
  src: url('../fonts/SF-Compact-Display-Heavy.otf');
}

/** Light */
@font-face {
  font-family: "SFCompactDisplay";
  font-weight: 200;
  src: url('../fonts/SF-Compact-Display-Light.otf');
}

/** Medium */
@font-face {
  font-family: "SFCompactDisplay";
  font-weight: 500;
  src: url('../fonts/SF-Compact-Display-Medium.otf');
}

/** Regular */
@font-face {
  font-family: "SFCompactDisplay";
  font-weight: 400;
  src: url('../fonts/SF-Compact-Display-Regular.otf');
}

/** Semibold */
@font-face {
  font-family: "SFCompactDisplay";
  font-weight: 600;
  src: url('../fonts/SF-Compact-Display-Semibold.otf');
}


/** Thin */
@font-face {
  font-family: "SFCompactDisplay";
  font-weight: 100;
  src: url('../fonts/SF-Compact-Display-Thin.otf');
}



/** UltraLight */
@font-face {
  font-family: "SFCompactDisplay";
  font-weight: 50;
  src: url('../fonts/SF-Compact-Display-Ultralight.otf');
}



body {
  font-family: 'SFCompactDisplay', sans-serif;
}

//common-wp styles
.alignleft {
  float: left;
  margin-right: 20px;
}

.alignright {
  float: right;
  margin-left: 20px;
}

//loader
#nprogress {
  pointer-events: none;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;

  .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .spinner-icon {
    width: 50px;
    height: 50px;
    box-sizing: border-box;

    border: solid 5px transparent;
    border-top-color: #007cba;
    border-left-color: #007cba;
    border-radius: 50%;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
  }
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}