/*---------------------------------------------------------------------------*
 * SF UI Display
 *---------------------------------------------------------------------------*/

/** Black */
@font-face {
  font-family: "SFCompactDisplay";
  font-weight: 900;
  src: url("../fonts/SF-Compact-Display-Black.otf");
}

/** Bold */
@font-face {
  font-family: "SFCompactDisplay";
  font-weight: 700;
  src: url("../fonts/SF-Compact-Display-Bold.otf");
}

/** Heavy */
@font-face {
  font-family: "SFCompactDisplay";
  font-weight: 800;
  src: url("../fonts/SF-Compact-Display-Heavy.otf");
}

/** Light */
@font-face {
  font-family: "SFCompactDisplay";
  font-weight: 200;
  src: url("../fonts/SF-Compact-Display-Light.otf");
}

/** Medium */
@font-face {
  font-family: "SFCompactDisplay";
  font-weight: 500;
  src: url("../fonts/SF-Compact-Display-Medium.otf");
}

/** Regular */
@font-face {
  font-family: "SFCompactDisplay";
  font-weight: 400;
  src: url("../fonts/SF-Compact-Display-Regular.otf");
}

/** Semibold */
@font-face {
  font-family: "SFCompactDisplay";
  font-weight: 600;
  src: url("../fonts/SF-Compact-Display-Semibold.otf");
}

/** Thin */
@font-face {
  font-family: "SFCompactDisplay";
  font-weight: 100;
  src: url("../fonts/SF-Compact-Display-Thin.otf");
}

/** UltraLight */
@font-face {
  font-family: "SFCompactDisplay";
  font-weight: 50;
  src: url("../fonts/SF-Compact-Display-Ultralight.otf");
}

body {
  font-family: "SFCompactDisplay", sans-serif;
}

a:hover {
  color: #5d7db8;
}

.auto-overflow {
  max-height: 70vh;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 8px;
  transition: all ease 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

//common-wp styles
.alignleft {
  float: left;
  margin-right: 20px;
}

.alignright {
  float: right;
  margin-left: 20px;
}

//loader
#nprogress {
  pointer-events: none;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;

  .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .spinner-icon {
    width: 50px;
    height: 50px;
    box-sizing: border-box;

    border: solid 5px transparent;
    border-top-color: #00519b;
    border-left-color: #6280b9;
    border-radius: 50%;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
  }
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
.fp-section {
  overflow: auto;
}

.fp-viewing-section1 #fp-nav ul li a span {
  background: white !important;
}

.fp-viewing-section2 #fp-nav ul li a span {
  background: $primary-color;
}

.fp-viewing-section3 #fp-nav ul li a span {
  background: $primary-color;
}

.fp-viewing-section4 #fp-nav ul li a span {
  background: $primary-color;
}

.fp-viewing-section5 #fp-nav ul li a span {
  background: $primary-color;
}

#fp-nav ul {
  margin-left: 20px !important;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: $primary-color !important;
}

section {
  font-size: 20px;
}

.slick-dots {
  bottom: 10% !important;

  li {
    display: block;
    width: 3px;
    height: 30px;
    margin: 10px 25px;
  }
}

.slick-dots li button:before {
  content: "" !important;
}

.slick-dots li.slick-active button {
  color: white;
  border: 1px solid !important;
  border-radius: 50% !important;
  background: #0000ff00 !important;
  width: 16px !important;
  height: 16px !important;
}

.wrapper {
  display: flex;
  //height: 100vh;
  //padding-top: 116px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.image-wrapper {
  width: 100%;
  height: 240px;
  overflow: hidden;
  border: 1px solid #eee;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-origin: 50% 100%;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    > img {
      transform: scale(1.05);
    }
  }
}

//.slick-slider {
//  height: 100vh;
//}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #000;
}

.slick-dots li button {
  border: 1px solid white !important;
  border-radius: 50% !important;
  background: white !important;
  width: 12px !important;
  height: 12px !important;
}

.drawerLang {
  display: flex;
  flex-direction: row;
}

.drawerMenu {
  display: flex;
  flex-direction: column;
}

.drawerSubMenu {
  display: flex;
  flex-direction: row;
}

.ant-drawer-close {
  span {
    color: white !important;
  }
}

.ant-drawer-close:focus {
  outline: 0 !important;
}

.brands {
  .slick-slide {
    padding: 0 15px;
  }

  .slick-prev {
    left: 67%;
    top: 117.8%;
    width: auto !important;
    height: auto !important;
  }

  .slick-next {
    left: 72%;
    top: 120%;
    width: auto !important;
    height: auto !important;
  }
}

.capabilitiesPage {
  .slick-slide {
    padding: 0 18px;
  }
}

.topMenuList a:last-child {
  border-right: none;
}

.drawerSubMenu a:last-child {
  border-right: none;
}

//.capabilitiesImage {
//  margin-top: 116px;
//}

@media (max-width: 767px) {
  #fp-nav ul {
    margin-left: 0 !important;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .slick-dots {
    bottom: 3% !important;
  }
  .showRoomTexts {
    flex-basis: 100% !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .showRoomTexts {
    flex-basis: 100% !important;
  }
}

.itemDetails {
  .slick-slide {
    height: calc(100vh - 116px);
  }
}

.thumbnailSlide {
  .slick-slide {
    height: 100%;
  }

  .slick-prev {
    left: 0 !important;
    z-index: 99999 !important;
    background: rgba(0, 0, 0, 0.3) !important;
    height: 100%;
    width: 60px !important;
  }

  .slick-next {
    right: 0 !important;
    z-index: 9999 !important;
    background: rgba(0, 0, 0, 0.3) !important;
    height: 100%;
    width: 60px !important;
  }
}

.brandsProducts {
  .slick-slide {
    padding: 0 18px;
  }
}

.portfolioGallery:hover {
  .portfolioGalleryButton {
    opacity: 100;
  }
}

.portfolioGalleryButton {
  img {
    filter: grayscale(1) invert(1);
  }
}

.careerDetails {
  p {
    margin-bottom: 16px;
  }
}

input[type="text"],
select,
textarea {
  width: 100%;
  height: 58px;
  padding: 12px 20px !important;
  margin: 8px 0 !important;
  background: transparent;
  display: inline-block;
  border: 1px solid #e4e4e4;
  box-sizing: border-box;
  color: #e4e4e4;
}

label {
  position: absolute;
  left: 26px;
  top: -4px;
  background: #262626;
}

.section.odd {
  background: #f0f0f0;
}

.sendButton {
  height: 58px;
  padding: 12px 20px !important;
  margin: 8px 0 !important;
  background: transparent;
  display: inline-block;
  border: 1px solid white;
  box-sizing: border-box;
  color: white;
}

.brand-detail {
  .itemDetails {
    h3 {
      font-size: 20px;
      font-weight: 600;

      > span {
        text-transform: uppercase;
      }
    }
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
