//slider
.slider {
  .text {
    width: 50%;

    .title {
      font-size: 80px;
      font-weight: 600;
      line-height: 1.3em;
    }

    .desc {
      margin: 0;
      font-size: 24px;
      font-weight: 500;
      opacity: 0.8;
    }
  }

  .image {
    max-width: 40%;
  }
}

.industry {
  .ant-tabs {
    .ant-tabs-nav-list {
      margin-top: 16%;
      height: 100%;
    }

    .ant-tabs-nav {
      flex-basis: 50%;
    }

    .ant-tabs-content-holder {
      border: 0;
    }

    .ant-tabs-ink-bar {
      display: none;
    }

    .ant-tabs-tab-btn .title {
      display: flex;
      align-items: center;
      font-size: 80px;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.7);
      transition: all ease 0.2s;

      > .image-icon {
        display: none;
        margin: 15px 0 0 30px;
        transition: all ease 0.3s;
      }
    }

    .ant-tabs-tab {
      height: 90px;
      padding: 0 !important;
      background: #fff;

      &.ant-tabs-tab-active .title {
        color: #00488d;

        > .image-icon {
          display: block;
        }
      }

      &:not(.ant-tabs-tab-active):hover {
        .title {
          opacity: 0.9;
        }
      }
    }
  }

  .ant-tabs-content-holder {
    .desc {
      animation-name: bounce-1;
      animation-duration: 1s;
      animation-timing-function: linear;
    }
  }

  .heading-tag {
    top: 5rem;
  }
}

.section.showroom {
  .ant-tabs-right {
    flex: 1;
    position: relative;

    .ant-tabs-content-holder {
      border: 0;
      width: 45%;
      flex: initial;
    }
    .ant-tabs-ink-bar {
      display: none;
    }
    .ant-tabs-content > .ant-tabs-tabpane {
      padding: 0;

      .tab-content {
        position: absolute;
        width: 50%;
        right: 50px;
        top: 0;
        padding-right: 200px;
        height: 400px;
      }
    }
    .ant-tabs-nav {
      flex: 1;
      width: 50%;
      margin-right: 6em;

      .ant-tabs-nav-list {
        margin-top: 50%;
        flex-direction: row;
      }
    }
    .ant-tabs-tab {
      width: 200px;
      height: 200px;
      background: #000;
      color: $color-white;
      white-space: pre-wrap;
      display: initial;
      text-align: inherit;

      .ant-tabs-tab-btn {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
      }

      &.ant-tabs-tab-active {
        background-color: #00488d;

        .ant-tabs-tab-btn {
          color: #fff;
        }
      }
    }
  }
}

.header h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.brandsProducts {
  h2 {
    font-size: 32px;
    font-weight: bold;
  }

  .slick-arrow {
    width: 40px;

    &.slick-prev {
      left: -70px;
    }
  }

  .brand-p-item {
    .title {
      min-height: 44px;
      transition: all ease 0.3s;
    }

    &:hover {
      .title {
        color: $primary-color;
      }
    }
  }
}

.brands {
  .fp-tableCell {
    vertical-align: inherit;
  }
  .category-wrapper {
    list-style: none;
    padding: 0;

    li {
      line-height: 22px;
      cursor: pointer;
      text-transform: capitalize;
      transition: all ease 0.3s;

      &.active {
        background: linear-gradient(to right, #8da0cd 2%, #004280 82%);
        font-weight: 600;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &:hover {
        color: $primary-color;
      }
    }
    span:last-child {
      display: none;
    }
  }
  .single-brand {
    .more {
      padding: 30px 0;
      font-size: 16px;
      transition: all ease 0.3s;

      &:hover {
        color: $primary-color;
      }
    }
    .logo-wrapper {
      img {
        height: 60px;
        max-width: 280px;
      }
    }
    .bg-img-wrapper {
      width: 100%;
      height: 270px;
      overflow: hidden;
      border: 1px solid #eee;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .slick-slide {
    padding: 0 15px;
  }

  .slick-prev {
    left: 67%;
    top: auto;
    bottom: -40px;
    width: auto !important;
    height: auto !important;
  }

  .slick-next {
    top: auto;
    right: 25%;
    bottom: -40px;
    transform: initial;
    width: auto !important;
    height: auto !important;
  }
}

.section.categories {
  .image-wrapper {
    height: 450px;
  }
  .slick-prev,
  .slick-next {
    top: 104.8%;
  }
  .slick-next {
    transform: initial;
  }
  .title {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 240px;
  }
}

.without-scroll {
  flex-wrap: wrap;

  .cat-item {
    padding: 0 18px;
    flex: 1 0 21%;

    &:first-child {
      padding-left: 0;
    }
  }
}

.section.projects {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .projects-wrapper {
    position: relative;
    z-index: 3;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
  }

  .project {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all ease 0.8s;

    .content {
      z-index: 3;
      font-size: 20px;
      padding: 20px 30px;
      line-height: 24px;

      h4 {
        text-transform: uppercase;
      }
      h4,
      a {
        color: $color-white;
        font-weight: 600;
      }

      .readmore {
        overflow: hidden;
        white-space: nowrap;
        width: 0;
        transition: all ease 0.4s;
      }
      .more > img {
        width: 30px;
      }
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      transition: all ease 0.8s;
      background: rgba(0, 0, 0, 0.4);
    }

    &:hover {
      &:after {
        background: rgba(0, 0, 0, 0.1);
      }
      .readmore {
        width: 80px;
        transition: width 0.4s ease;
      }
    }
  }

  .desc {
    padding: 0 2.5rem;

    p {
      max-height: 140px;
      overflow: auto;
      margin: 0;
    }

    h4 {
      font-size: 22px;
      color: $primary-color;
      font-weight: 500;
    }
  }
  .project-slider .slick-slide {
    padding: 0;
  }
  .project-slider .slick-next,
  .project-slider .slick-prev {
    top: 105%;
    transform: initial;
  }
}

.section.portfolio-usage {
  background-image: url("/images/materialBack.jpg");

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
  }

  .usage {
    z-index: 3;
    max-height: 70vh;
    overflow: auto;
  }

  h2 {
    font-size: 20px;
    font-weight: 500;
  }

  .round-img {
    flex-shrink: 0;
  }

  .material {
    transition: all ease 0.3s;

    &:hover {
      background-color: #eaf2ff;
    }
  }
}

.brand-p-item .title {
  line-height: 22px;
  max-height: 45px;
  overflow: hidden;
}

.section.project-details {
  span {
    text-transform: uppercase;
    font-size: 13px;
    color: $primary-color;
  }

  h4 {
    font-size: 24px;
    font-weight: 600;
  }

  p {
    max-height: 70vh;
    overflow: auto;
  }
}

.section.what-we-do {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .image-background {
    background: $primary-color;
    flex-shrink: 0;
  }
}

.section.timeline {
  .history {
    &:before {
      content: "-";
      right: 0;
      left: 0;
      height: 1px;
      top: 50%;
      position: absolute;
      background: #707070;
    }
  }

  .slick-prev,
  .slick-next {
    width: 50px;
    height: 50px;
    transition: all ease 0.3s;

    &:before {
      content: ">";
      color: #333;
      font-size: 50px;
      transition: all ease 0.3s;
    }

    &:hover {
      &:before {
        color: $primary-color;
      }
    }
  }

  .slick-prev:before {
    content: "<";
  }

  .slick-disabled {
    display: none !important;
  }

  .slick-slide {
    position: relative;
    height: 600px;

    .history-item {
      display: flex !important;
      padding: 0 1em;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 19.35em;
      transition: all ease 0.3s;

      &:before {
        content: url("/images/timeline-arrow.png");
        display: inline-block;
      }

      h3 {
        position: absolute;
        top: -90px;
        font-size: 36px;
        width: 80px;
        text-align: center;
        line-height: 30px;

        > span {
          font-size: 24px;
        }
      }

      .content {
        border-bottom: 1px solid #bbb;
        margin: 0 15px;
        padding: 20px 0 10px;
        line-height: 22px;
      }
    }

    &:nth-child(2n) {
      .history-item {
        flex-direction: column-reverse;
        top: 5.9em;

        h3 {
          bottom: -90px;
          top: auto;
        }

        &:before {
          transform: rotate(180deg);
        }

        .content {
          border-top: 1px solid #bbb;
          border-bottom: 0;
          margin: 0 15px;
          padding: 10px 0 20px;
          line-height: 22px;
        }
      }
    }
  }
}

.share-container {
  svg {
    width: 20px;
  }
}

.section.news {
  .news-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 260px;

    .content {
      z-index: 3;
    }

    a:hover {
      color: rgba(255, 255, 255, 0.8);
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
      transition: all ease 0.3s;
    }

    &:hover {
      &:after {
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }

  .news-wrapper {
    &:nth-child(5n + 5) {
      grid-column: span 2 / span 2 !important;
    }
  }
}

.news-slider {
  .slick-slide {
    padding: 0;
  }

  .slick-prev,
  .slick-next {
    top: 108%;

    &.slick-disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }

  .slick-next {
    transform: inherit;
  }
}

.news-detail {
  .image-wrapper {
    height: 100%;
  }

  .content p {
    margin-bottom: 1em;
  }
}

.section.otherNews {
  .slick-slider {
    padding: 0 20px;
  }

  .newsBox {
    .image-wrapper {
      height: 180px;
    }
    .title {
      height: 40px;
      overflow: hidden;
    }
  }
}

.section.human-resource {
  .feature-icon {
    width: 70px;
    height: 60px;
  }
  .feature-item {
    transition: all ease 0.3s;

    &:hover {
      background: $primary-color;
      color: #fff;

      .feature-icon img {
        filter: invert(1);
      }
    }
  }
}

.section.category-brand {
  .slick-prev,
  .slick-next {
    top: 100%;
  }
  .slick-next {
    transform: inherit;
  }
}

@keyframes bounce-1 {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
