//slider
.slider {
  .text {
    width: 50%;
    padding-right: 40px;

    .title {
      font-size: 80px;
      font-weight: 600;
      line-height: 1.3em;
    }

    .desc {
      margin: 0;
      font-size: 24px;
      font-weight: 300;
      opacity: 0.8;
    }
  }

  .image {
    max-width: 40%;
  }
}

.industry {
  .ant-tabs-left {
    .ant-tabs-nav {
      flex-basis: 50%;
    }

    .ant-tabs-content-holder {
      border: 0;
    }

    .ant-tabs-ink-bar {
      display: none;
    }

    .ant-tabs-tab-btn .title {
      display: flex;
      align-items: center;
      font-size: 80px;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.7);
      transition: all ease 0.2s;

      > .image-icon {
        display: none;
        margin: 15px 0 0 30px;
        transition: all ease 0.3s;
      }
    }

    .ant-tabs-tab {
      height: 90px;
      padding: 0 !important;

      &.ant-tabs-tab-active .title {
        color: #00488d;

        > .image-icon {
          display: block;
        }
      }

      &:not(.ant-tabs-tab-active):hover {
        .title {
          opacity: 0.9;
        }
      }
    }
  }

  .capabilitiesImage {
    img {
      max-height: 400px;
      animation-name: bounce-1;
      animation-duration: 1s;
      animation-timing-function: linear;
    }

    @keyframes bounce-1 {
      0% {
        transform: translateY(0);
      }
      20% {
        transform: translateY(-50px);
      }
      100% {
        transform: translateY(0);
      }
    }
  }
}

.section.showroom {
  .ant-tabs-right {
    flex: 1;
    position: relative;

    .ant-tabs-content-holder {
      border: 0;
      width: 45%;
      flex: initial;
    }
    .ant-tabs-ink-bar {
      display: none;
    }
    .ant-tabs-content > .ant-tabs-tabpane {
      padding: 0;

      .tab-content {
        position: absolute;
        width: 50%;
        right: 50px;
        top: 0;
        padding-right: 200px;
        height: 400px;
      }
    }
    .ant-tabs-nav {
      flex: 1;
      width: 50%;
      margin-right: 6em;

      .ant-tabs-nav-list {
        margin-top: 50%;
        flex-direction: row;
      }
    }
    .ant-tabs-tab {
      width: 200px;
      height: 200px;
      background: #000;
      color: $color-white;
      white-space: pre-wrap;
      display: initial;
      text-align: inherit;

      .ant-tabs-tab-btn {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
      }

      &.ant-tabs-tab-active {
        background-color: #00488d;

        .ant-tabs-tab-btn {
          color: #fff;
        }
      }
    }
  }
}

.header h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.brandsProducts {
  h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .slick-arrow {
    width: 40px;

    &.slick-prev {
      left: -70px;
    }
  }

  .brand-p-item {
    .title {
      text-transform: uppercase;
      transition: all ease 0.3s;
    }

    &:hover {
      .title {
        color: $primary-color;
      }
    }
  }
}

.brands {
  .category-wrapper {
    list-style: none;
    padding: 0;

    li {
      margin-right: 40px;
      font-size: 16px;
      text-transform: lowercase;
      padding: 10px 20px;
      cursor: pointer;
      transition: all ease 0.3s;

      &.active {
        border: 1px solid $primary-color;
        border-radius: 2px;
      }

      &:hover {
        color: $primary-color;
      }
    }
  }
  .single-brand {
    .more {
      padding: 30px 0;
      font-size: 16px;
      transition: all ease 0.3s;

      &:hover {
        color: $primary-color;
      }
    }
    .logo-wrapper {
      img {
        height: 60px;
        max-width: 280px;
      }
    }
    .bg-img-wrapper {
      width: 100%;
      height: 270px;
      overflow: hidden;
      border: 1px solid #eee;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.section.categories {
  .image-wrapper {
    height: 450px;
  }
  .slick-prev,
  .slick-next {
    top: 104.8%;
  }
  .slick-next {
    transform: initial;
  }
  .title {
    font-size: 20px;
  }
}

.category-item {
  p {
    margin-bottom: 1em;
  }
}
.without-scroll {
  .cat-item {
    padding: 0 18px;
  }
}
