.section.footer {
  .bg-contact {
    .socials {
      a {
        span {
          width: 3rem;
          height: 3rem;
          line-height: 3rem;
          font-size: 1.4rem;
          border-radius: 50px;
          margin-right: 10px;
          transition: background-color 0.2s ease-in-out;
        }

        &:hover {
          span {
            background-color: $color-white;
            color: $text-color;
          }
        }
      }
    }
  }
}
.footer-responsive{
  padding: 10rem;
  display: flex;
}
.footer-items-input{
  width: 40%;
}
.footer-items{
  width: 30%;
}
