body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
label,
input,
textarea,
li {
  font-family: "Raleway", sans-serif;
}

html {
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  color: $text-color;
  font-family: "Raleway", sans-serif;
  word-wrap: break-word;
  font-kerning: normal;
  line-height: 1.75;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

ul {
  list-style: disc;
  padding-left: 20px;
}

a {
  text-decoration: none;
  box-shadow: none;
}

input:focus {
  outline: none;
}

hr {
  margin: 30px 0;
  border: 0;
  border-top: 1px solid $color-white;
  opacity: 0.5;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  margin: 0 !important;
}
//wp-common
.has-text-align-center {
  text-align: center;
}

.has-text-align-center {
  text-align: center;
}

.has-text-align-center {
  text-align: center;
}

//wp-main-styles
.aligncenter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.alignleft {
  float: left;
  margin-right: 20px;
  display: table;
}

.alignright {
  float: right;
  margin-left: 20px;
}

.alignfull {
  margin-top: 5rem;
  margin-right: auto;
  margin-bottom: 5rem;
  margin-left: auto;
  max-width: 100vw;
  position: relative;
  width: 100%;
}

.alignwide {
  margin: 4rem auto;
}

.hasBorder {
  border: 1px solid #ccc;
  padding: 24px;
  margin-bottom: 24px;
  border-radius: 4px;

  &.blue-border {
    border-color: #95c7e0;
  }
}

.has-small-font-size {
  font-size: 0.842em;
}

.wp-block-button__link {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: $primary-color;
  border: none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  letter-spacing: 0.0333em;
  line-height: 1.25;
  margin: 0;
  opacity: 1;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity 0.15s linear;
}

.is-style-outline .wp-block-button__link {
  background-color: transparent;
  border: 2px solid;
}

.is-style-fill .wp-block-button__link {
  width: 100%;
}

.wp-block-media-text {
  display: grid;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -ms-grid-columns: 50% 1fr;
  grid-template-columns: 50% 1fr;

  .wp-block-media-text__media {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    align-self: center;
  }

  .wp-block-media-text__content {
    padding: 3rem 2rem;
    word-break: break-word;
    align-self: center;
  }

  figure > img,
  figure > video {
    max-width: unset;
    width: 100%;
    vertical-align: middle;
  }

  .has-media-on-the-right .wp-block-media-text__media,
  .wp-block-media-text__content {
    grid-column: 2;
    grid-row: 1;
  }
}

.wp-block-columns {
  display: flex;

  &.are-vertically-aligned-center {
    align-items: center;
  }

  &.are-vertically-aligned-bottom {
    align-items: flex-end;
  }
}

.wp-block-column {
  flex-grow: 1;
  min-width: 0;
  word-break: break-word;
  overflow-wrap: break-word;
}

.wp-block-column > *:last-child,
.wp-block-column > *:first-child {
  margin: 0;
}

.wp-block-cover,
.wp-block-cover-image {
  position: relative;
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  min-height: 450px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wp-block-cover-image.has-background-dim:before,
.wp-block-cover.has-background-dim:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: inherit;
  opacity: 0.5;
  z-index: 1;
}

.wp-block-cover-image .wp-block-cover__inner-container,
.wp-block-cover .wp-block-cover__inner-container {
  padding: 2rem 0;
}

.wp-block-cover-image .wp-block-cover__inner-container,
.wp-block-cover .wp-block-cover__inner-container {
  z-index: 1;
  color: #f8f9f9;
}

.has-large-font-size {
  font-size: 1.25em;
  line-height: 1.4;
}

.wp-block-archives:not(.alignwide):not(.alignfull),
.wp-block-categories:not(.alignwide):not(.alignfull),
.wp-block-code,
.wp-block-columns:not(.alignwide):not(.alignfull),
.wp-block-cover:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter),
.wp-block-embed:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter),
.wp-block-gallery:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter),
.wp-block-group:not(.has-background):not(.alignwide):not(.alignfull),
.wp-block-image:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter),
.wp-block-latest-comments:not(.aligncenter):not(.alignleft):not(.alignright),
.wp-block-latest-posts:not(.aligncenter):not(.alignleft):not(.alignright),
.wp-block-media-text:not(.alignwide):not(.alignfull),
.wp-block-preformatted,
.wp-block-pullquote:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright),
.wp-block-quote,
.wp-block-quote.is-large,
.wp-block-quote.is-style-large,
.wp-block-verse,
.wp-block-video:not(.alignwide):not(.alignfull) {
  margin-bottom: 4rem;
  margin-top: 4rem;
}

blockquote {
  border-color: $primary-color;
  border-style: solid;
  border-width: 0 0 0 0.3rem;
  color: inherit;
  font-size: 1em;
  margin: 4rem 0;
  padding: 0.5rem 0 0.5rem 2rem;
  display: block;
  margin: 2rem 0 0 0;

  cite {
    color: #6d6d6d;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25;
  }
}

.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
  p {
    font-size: 1.6rem;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 1.285;
  }

  cite,
  footer {
    font-size: 0.9rem;
    text-align: inherit;
  }
}

.wp-block-group.alignwide.has-background,
.wp-block-group.alignfull.has-background {
  padding: 4rem;
  margin: 20px 0;
}

.wp-block-group__inner-container {
  margin: 0 auto;
}

.wp-block-image.is-resized {
  display: table;
}

.blocks-gallery-grid,
.wp-block-gallery {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;

  ul {
    list-style: none;
    margin: 0 0 -1.6rem 0;
  }

  .blocks-gallery-image,
  .blocks-gallery-item {
    margin: 0 24px 24px 0;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    position: relative;

    figure {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      margin: 0;
      height: 100%;
    }

    img {
      height: 100%;
      flex: 1;
      object-fit: cover;
      width: 100%;
    }

    figcaption {
      position: absolute;
      bottom: 0;
      width: 100%;
      max-height: 100%;
      overflow: auto;
      padding: 40px 10px 9px;
      color: #fff;
      text-align: center;
      font-size: 13px;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.3) 70%,
        transparent
      );
    }
  }
}

figcaption {
  display: table-caption;
  caption-side: bottom;
  color: #6d6d6d;
}

p {
  margin-bottom: 1em;
}

//spacing-style
.pt-5 {
  padding-top: 5px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.mr-100 {
  margin-right: 100px !important;
}

.mt-10,
.my-10 {
  margin-top: 10px !important;
}

.mt-20,
.my-20 {
  margin-top: 20px !important;
}

.mt-30,
.my-30 {
  margin-top: 30px !important;
}

.mt-50,
.my-50 {
  margin-top: 50px !important;
}

.mt-70,
.my-70 {
  margin-top: 70px !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0px !important;
}

.mb-10,
.my-10 {
  margin-bottom: 10px !important;
}

.mb-20,
.my-20 {
  margin-bottom: 20px !important;
}

.mb-30,
.my-30 {
  margin-bottom: 30px !important;
}

.mb-40,
.my-40 {
  margin-bottom: 40px !important;
}

.mb-50,
.my-50 {
  margin-bottom: 50px !important;
}

.mb-70,
.my-70 {
  margin-bottom: 70px !important;
}

.mx,
.mr-0 {
  margin-right: 0 !important;
}

.mx,
.ml-0 {
  margin-left: 0 !important;
}

.ml-10 {
  margin-left: 10px !important;
}

//no-spacing
.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-border {
  border: none !important;
}

//display
.flex {
  display: flex;
}

.inline-block {
  display: inline-block;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

//position
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

//wp-main-styles
.aligncenter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.alignleft {
  float: left;
  margin-right: 20px;
  display: table;
}

.alignright {
  float: right;
  margin-left: 20px;
}

.alignfull {
  margin-top: 5rem;
  margin-right: auto;
  margin-bottom: 5rem;
  margin-left: auto;
  max-width: 100vw;
  position: relative;
  width: 100%;
}

.alignwide {
  margin: 4rem auto;
}

.hasBorder {
  border: 1px solid #ccc;
  padding: 24px;
  margin-bottom: 24px;
  border-radius: 4px;

  &.blue-border {
    border-color: #95c7e0;
  }
}

.has-small-font-size {
  font-size: 0.842em;
}

.wp-block-button__link {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: $primary-color;
  border: none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  letter-spacing: 0.0333em;
  line-height: 1.25;
  margin: 0;
  opacity: 1;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity 0.15s linear;
}

.is-style-outline .wp-block-button__link {
  background-color: transparent;
  border: 2px solid;
}

.is-style-fill .wp-block-button__link {
  width: 100%;
}

.wp-block-media-text {
  display: grid;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -ms-grid-columns: 50% 1fr;
  grid-template-columns: 50% 1fr;

  .wp-block-media-text__media {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
    align-self: center;
  }

  .wp-block-media-text__content {
    padding: 3rem 2rem;
    word-break: break-word;
    align-self: center;
  }

  figure > img,
  figure > video {
    max-width: unset;
    width: 100%;
    vertical-align: middle;
  }

  .has-media-on-the-right .wp-block-media-text__media,
  .wp-block-media-text__content {
    grid-column: 2;
    grid-row: 1;
  }
}

.wp-block-columns {
  display: flex;

  &.are-vertically-aligned-center {
    align-items: center;
  }

  &.are-vertically-aligned-bottom {
    align-items: flex-end;
  }
}

.wp-block-column {
  flex-grow: 1;
  min-width: 0;
  word-break: break-word;
  overflow-wrap: break-word;
}

.wp-block-column > *:last-child,
.wp-block-column > *:first-child {
  margin: 0;
}

.wp-block-cover,
.wp-block-cover-image {
  position: relative;
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  min-height: 450px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wp-block-cover-image.has-background-dim:before,
.wp-block-cover.has-background-dim:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: inherit;
  opacity: 0.5;
  z-index: 1;
}

.wp-block-cover-image .wp-block-cover__inner-container,
.wp-block-cover .wp-block-cover__inner-container {
  padding: 2rem 0;
}

.wp-block-cover-image .wp-block-cover__inner-container,
.wp-block-cover .wp-block-cover__inner-container {
  z-index: 1;
  color: #f8f9f9;
}

.has-large-font-size {
  font-size: 1.25em;
  line-height: 1.4;
}

.wp-block-archives:not(.alignwide):not(.alignfull),
.wp-block-categories:not(.alignwide):not(.alignfull),
.wp-block-code,
.wp-block-columns:not(.alignwide):not(.alignfull),
.wp-block-cover:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter),
.wp-block-embed:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter),
.wp-block-gallery:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter),
.wp-block-group:not(.has-background):not(.alignwide):not(.alignfull),
.wp-block-image:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter),
.wp-block-latest-comments:not(.aligncenter):not(.alignleft):not(.alignright),
.wp-block-latest-posts:not(.aligncenter):not(.alignleft):not(.alignright),
.wp-block-media-text:not(.alignwide):not(.alignfull),
.wp-block-preformatted,
.wp-block-pullquote:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright),
.wp-block-quote,
.wp-block-quote.is-large,
.wp-block-quote.is-style-large,
.wp-block-verse,
.wp-block-video:not(.alignwide):not(.alignfull) {
  margin-bottom: 4rem;
  margin-top: 4rem;
}

blockquote {
  border-color: $primary-color;
  border-style: solid;
  border-width: 0 0 0 0.3rem;
  color: inherit;
  font-size: 1em;
  margin: 4rem 0;
  padding: 0.5rem 0 0.5rem 2rem;
  display: block;
  margin: 2rem 0 0 0;

  cite {
    color: #6d6d6d;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25;
  }
}

.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
  p {
    font-size: 1.6rem;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 1.285;
  }

  cite,
  footer {
    font-size: 0.9rem;
    text-align: inherit;
  }
}

.wp-block-group.alignwide.has-background,
.wp-block-group.alignfull.has-background {
  padding: 4rem;
  margin: 20px 0;
}

.wp-block-group__inner-container {
  margin: 0 auto;
}

.wp-block-image.is-resized {
  display: table;
}

.blocks-gallery-grid,
.wp-block-gallery {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;

  ul {
    list-style: none;
    margin: 0 0 -1.6rem 0;
  }

  .blocks-gallery-image,
  .blocks-gallery-item {
    margin: 0 24px 24px 0;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    position: relative;

    figure {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      margin: 0;
      height: 100%;
    }

    img {
      height: 100%;
      flex: 1;
      object-fit: cover;
      width: 100%;
    }

    figcaption {
      position: absolute;
      bottom: 0;
      width: 100%;
      max-height: 100%;
      overflow: auto;
      padding: 40px 10px 9px;
      color: #fff;
      text-align: center;
      font-size: 13px;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.3) 70%,
        transparent
      );
    }
  }
}

figcaption {
  display: table-caption;
  caption-side: bottom;
  color: #6d6d6d;
}
//end wp-main-styles
