@media (min-width: 1536px) and (max-width: 1679px) {
  .industry {
    .ant-tabs {
      .ant-tabs-nav-list {
        margin-top: 16%;
      }
    }
    > a {
      bottom: 5%;
    }
  }
  .heading-tag {
    margin-bottom: 10px;
  }
  .image {
    height: 300px;
  }
  .main-values {
    .card {
      .bg-wrapper {
        height: 250px;
        padding: 20px 30px;
      }
    }
  }
}

@media (min-width: 1280px) and (max-width: 1535px) {
  .industry {
    .heading-tag {
      top: 5px;
    }
    .ant-tabs {
      .ant-tabs-nav-list {
        margin-top: 60px;
      }
      .ant-tabs-tab {
        margin-left: 7rem;
      }
      .ant-tabs-tab-btn .title {
        > .image-icon {
          display: none;
          width: 60px;
          margin: 5px 0 0 30px;
          transition: all ease 0.3s;
        }
      }
    }
    > a {
      bottom: 5%;
    }
  }
  .image {
    height: 250px;
  }
  .heading-tag {
    margin-bottom: 5px;
  }
  .section.additional .odd:first-child .content {
    padding-left: 2rem;
  }
  .section.additional {
    h4 {
      padding-left: 0;
    }
    p {
      margin-bottom: 0;
    }
  }
  .main-values {
    .card {
      .bg-wrapper {
        height: 200px;
        padding: 20px 30px;
        border-radius: 10px 10px 0 0;
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .section.brand-detail.item-detail {
    .brand-detail-wrapper {
      .col-item {
        .slogan {
          .slo {
            blockquote {
              min-width: 250px;
              min-height: 250px;
            }
            &:before {
              font-size: 170px;
            }
          }
        }
      }
    }
  }
  .main-values {
    .card {
      .bg-wrapper {
        height: 180px;
        padding: 10px 30px;
        border-radius: 10px 10px 0 0;
      }
    }
  }
  .image {
    height: 220px;
  }
  .heading-tag {
    margin-bottom: 0px;
  }
  .industry {
    .Industries-btn {
      bottom: 10px;
    }
    .heading-tag {
      top: 20px;
    }
    .ant-tabs {
      .ant-tabs-nav-list {
        margin-top: 60px;
      }
      .ant-tabs-tab {
        margin-left: 6rem;
      }
      .ant-tabs-tab-btn .title {
        > .image-icon {
          display: none;
          width: 40px;
          margin: 5px 0 0 10px;
          transition: all ease 0.3s;
        }
      }
    }
  }
  .brands {
    .heading-title {
      margin: 0;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .section.additional .odd:first-child .content {
    padding-left: 0;
  }
  .section.slider {
    .fp-tableCell {
      padding-top: 114px;
    }
  }
  .section {
    height: max-content !important;
    .fp-tableCell {
      height: max-content !important;
      .fp-scrollable {
        height: max-content !important;
      }
    }
  }

  .image {
    height: 250px;
  }
  .main-header {
    height: 114px;
  }
  .industry {
    .heading-tag {
      top: 0px;
    }
    .ant-tabs {
      flex-direction: column;
      .ant-tabs-content-holder {
        .ant-tabs-content {
          .ant-tabs-tabpane {
            padding-left: 0;
          }
        }
      }
      .ant-tabs-nav-list {
        margin-top: 0px;
        margin-bottom: 2.5rem;
      }
      .ant-tabs-tab {
        margin-left: 40px;
      }
      .ant-tabs-tab-btn .title {
        > .image-icon {
          display: none;
          width: 70px;
          margin: 5px 0 0 10px;
          transition: all ease 0.3s;
        }
      }
    }
  }
  .brands {
    .heading-title {
      margin-bottom: 10px;
    }
  }
  .footer-responsive {
    display: block;
    padding: 5rem;
  }
  .footer-items-input {
    width: 100%;
  }
  .footer-items {
    width: 100%;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .section {
    height: max-content !important;
    .fp-tableCell {
      height: max-content !important;
      .fp-scrollable {
        height: max-content !important;
      }
    }
  }

  .industry {
    .heading-tag {
      top: 1rem;
      background-color: #fff;
    }
    .ant-tabs {
      .ant-tabs-nav-list {
        margin-top: 70px;
      }
      display: block;
      .ant-tabs-content {
        .ant-tabs-tabpane {
          padding-left: 0;
        }
      }
      .ant-tabs-tab {
        margin-left: 1.25rem;
      }
      .ant-tabs-tab-btn .title {
        > .image-icon {
          display: none;
          margin: 0px 0 0 10px;
          transition: all ease 0.3s;
        }
      }
    }
  }
  .main-header {
    height: 114px;
  }
  .footer-responsive {
    display: block;
    padding: 5rem;
  }
  .footer-items-input {
    width: 100%;
  }
  .footer-items {
    width: 100%;
  }
  .arrow {
    position: absolute;
    bottom: -30px;
    right: 200px;
  }
  .section.additional .odd:first-child .content {
    padding-left: 0;
  }
  .section.additional h4 {
    padding-left: 0;
  }
  .image {
    height: 250px;
  }
}

@media (min-width: 320px) and (max-width: 639px) {
  .image {
    height: 200px;
  }
  .section.additional .odd:first-child .content {
    padding-left: 2rem;
  }
  .section.additional h4 {
    padding-left: 0;
  }
  .section.slider,
  .section.brands,
  .section.categories,
  .section.brand-detail {
    .fp-tableCell {
      padding-top: 66px;
    }
  }
  .section {
    height: max-content !important;
    .fp-tableCell {
      height: max-content !important;
      .fp-scrollable {
        height: max-content !important;
      }
    }
  }
  .industry {
    .heading-tag {
      top: 1rem;
      background-color: #fff;
    }
    .ant-tabs {
      .ant-tabs-nav-list {
        margin-top: 70px;
      }
      display: block;
      .ant-tabs-content {
        .ant-tabs-tabpane {
          padding-left: 0;
        }
      }
      .ant-tabs-tab {
        margin-left: 1.25rem;
      }
      .ant-tabs-tab-btn .title {
        > .image-icon {
          display: none;
          width: 40px;
          margin: 0px 0 0 10px;
          transition: all ease 0.3s;
        }
      }
    }
  }
  .footer-items-input {
    width: 100%;
  }
  .footer-items {
    width: 100%;
  }
  .arrow {
    position: absolute;
    bottom: 0px;
    right: 200px;
  }
  .footer-responsive {
    display: block;
    padding: 20px 0 0 0;
  }
}
