@media only screen and (max-width: 1500px) {
  .section.projects .project {
    height: 200px;
  }
}

@media only screen and (min-width: 961px) {
  .row {
    width: calc(100% + 30px);
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 0 -20px;
  }
  .md3 {
    flex-grow: 0;
    max-width: 25%;
    flex-basis: 25%;
    padding: 0 20px;
    box-sizing: inherit;
  }
  .md9 {
    flex-grow: 0;
    max-width: 75%;
    flex-basis: 75%;
    padding: 0 20px;
    box-sizing: inherit;
  }
}

.brands {
  .category-wrapper {
    flex-wrap: wrap;
  }
}
.fp-section.fp-table {
  .fp-tableCell {
    padding-top: 116px;
  }
}
.fp-scrollable,
.fp-scroller {
  overflow: visible;
}

.heading-title {
  line-height: 25px;
  margin: 10px 0 20px 0;
}

.brands {
  .slick-list {
    .slick-track {
      .slick-slide {
        padding: 0;
      }
    }
  }
}

.section.otherNews .slick-slider {
  padding: 0;
}

.news-slider .slick-prev,
.news-slider .slick-next {
  top: 100%;
}

.what-we-do {
  .fp-tableCell {
    .auto-overflow {
      max-height: 100% !important;
    }
  }
}

.relative {
  .bg-contact {
    .footer-responsive {
      .footer-items {
        .socials {
          .anticon {
            width: 3rem;
            height: 3rem;
            display: flex;
            justify-content: center;

            svg {
              width: 40%;
              height: 40%;
            }
          }
        }
      }
    }
  }
}

// .item-relations {
//     height: 1000px;
//   }

.slider {
  .text {
    width: 100%;
    .title {
      font-size: 70px;
    }
  }
}

@media only screen and (min-width: 1451px) {
  .slider {
    .text {
      width: 100%;
      .title {
        font-size: 80px;
      }
    }
  }
  .h-body-in {
    height: calc(100vh - 116px);
  }
}
@media only screen and (max-width: 1450px) and (min-width: 1366px) {
  .industry {
    .ant-tabs {
      .ant-tabs-tab-btn {
        .title {
          font-size: 4rem;
        }
      }
    }
  }

  .h-body-in {
    height: calc(100vh - 116px);
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  .relative {
    .bg-contact {
      padding-top: 116px;
      .footer-responsive {
        padding-bottom: 8rem;
      }
    }
  }

  .industry {
    .ant-tabs {
      .ant-tabs-tab-btn {
        .title {
          font-size: 60px;
        }
      }

      .ant-tabs-tab {
        height: 70px;
      }

      .ant-tabs-nav-list {
        margin-top: 23%;
      }
    }
  }
  .footer-responsive {
    padding: 5rem;
  }

  .slider {
    .text {
      width: 90%;

      .title {
        font-size: 65px;
      }
      .desc {
        font-size: 18px;
      }
    }
  }
  .brand-p-item {
    a {
      .image-wrapper {
        height: 200px;
      }
    }
  }

  .projects-wrapper {
    &:nth-child(1) {
      .brands {
        .slick-slider {
          .slick-next {
            right: 20%;
          }
        }
      }
    }
  }

  .footer {
    .fp-tableCell {
      height: 100%;
      .bg-contact {
        height: 100%;
        .footer-responsive {
          height: 100%;
        }
      }
    }
  }

  .news-slider {
    .slick-slider {
      .slick-prev {
        left: 63%;
      }
    }
  }

  .brands {
    .single-brand {
      .logo-wrapper {
        img {
          max-width: 200px;
        }
      }
    }
  }

  .h-body-in {
    height: calc(100vh - 116px);
  }
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .h-body-in {
    height: calc(100vh - 116px);
  }

  .relative {
    overflow: hidden;
    .bg-contact {
      padding-top: 116px;
      .footer-responsive {
        padding-bottom: 8rem;
      }
    }
  }

  .brands {
    .single-brand {
      .logo-wrapper {
        img {
          max-width: 200px;
        }
      }
    }
  }

  .industry {
    .ant-tabs {
      .ant-tabs-tab-btn {
        .title {
          font-size: 50px;
        }
      }

      .ant-tabs-tab {
        height: 60px;
      }

      .ant-tabs-nav-list {
        margin-top: 35%;
      }

      .ant-tabs-tab-active {
        .title {
          > .image-icon {
            height: 20px;
            margin: 7px 0 0 30px;
          }
        }
      }
    }
  }
  .footer-responsive {
    display: block;
    padding: 5rem;
  }
  .footer-items-input {
    width: 100%;
  }
  .footer-items {
    width: 100%;
  }
  .slider {
    .text {
      width: 60%;

      .title {
        font-size: 75px;
      }
      .desc {
        font-size: 20px;
      }
    }
  }
  .section.additional {
    .odd:first-child {
      .content {
        padding-left: 0;
      }
    }
  }

  .brand-p-item {
    a {
      .image-wrapper {
        height: 200px;
      }
    }
  }

  .item-relations {
    > div {
      .brands {
        .slick-slider {
          .slick-next {
            right: 20%;
          }
        }
      }
    }
  }

  .projects-wrapper {
    &:nth-child(1) {
      .brands {
        .slick-slider {
          .slick-next {
            right: 20%;
          }
        }
      }
    }
  }

  .portfolio-h-body {
    height: auto;
  }

  .footer {
    .fp-tableCell {
      height: 100%;
      .bg-contact {
        height: 100%;
        .footer-responsive {
          height: 100%;
        }
      }
    }
  }

  .brand-detail-wrapper {
    .relative {
      .col-item {
        height: 100%;
      }
    }
  }
  .section.brand-detail .brand-detail-wrapper .col-item .slogan .slo:before {
    left: 30%;
  }

  // .news-slider{
  //   .slick-slider{
  //     .slick-prev{
  //       left: 63%;
  //     }
  //   }
  // }
  // newsiin detailiin sliderin sum shu

  .history {
    .slick-slider {
      .slick-next {
        right: -12px;
      }

      .slick-prev {
        left: -12px;
        z-index: 1;
      }
    }
  }

  .projects-wrapper {
    .desc {
      padding: 0px !important;
    }
  }
}
@media only screen and (max-width: 768px) and (min-width: 481px) {
  .relative {
    overflow: hidden;

    .bg-contact {
      padding-top: 116px;
      .footer-responsive {
        padding-bottom: 8rem;
      }
    }
  }

  .brand-detail-wrapper {
    .relative {
      .col-item {
        height: 100%;
      }
    }
  }
  .section.brand-detail .brand-detail-wrapper .col-item .slogan .slo:before {
    left: 23%;
  }

  .brands {
    .single-brand {
      .logo-wrapper {
        img {
          max-width: 200px;
        }
      }
    }
  }

  .industry {
    .heading-tag {
      top: 1rem;
      background-color: #fff;
    }

    .ant-tabs {
      display: block;

      .ant-tabs-tab-btn {
        .title {
          font-size: 50px;
        }
      }

      .ant-tabs-tab {
        height: 38px;
        margin: 6px 0px 10px 0px;
      }

      .ant-tabs-nav-list {
        margin-top: 10%;
        margin-bottom: 5%;
      }

      .ant-tabs-tab-active {
        .title {
          > .image-icon {
            height: 15px;
            margin: 10px 0 0 30px;
          }
        }
      }
    }
  }

  .ant-tabs-tabpane {
    padding-left: 0px !important;
  }

  .footer-responsive {
    display: block;
    padding: 4rem;
  }

  .footer-items-input {
    width: 100%;
  }

  .footer-items {
    width: 100%;
  }

  .brands {
    .slick-next {
      right: 10%;
    }
  }

  .fp-section.fp-table {
    .fp-tableCell {
      padding-top: 116px;
    }
  }

  .slider {
    .text {
      width: 60%;

      .title {
        font-size: 45px;
      }
      .desc {
        font-size: 20px;
      }
    }
  }

  .section.facts {
    .fact-item {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        border-bottom: 1px solid #fff;
      }

      &:nth-child(odd) {
        border-right: none;
      }
    }
  }

  .section.additional {
    .odd:first-child {
      .content {
        padding-left: 0;
      }
    }
  }

  .brand-p-item {
    a {
      .image-wrapper {
        height: 150px;
      }
    }
  }
  .section.item-detail {
    .item-image {
      &:hover {
        .inner-content-overlay {
          transform: scaleY(1);
        }
        .inner-content-detail {
          transform: translateY(0px);
        }
      }
    }
  }

  .portfolio-h-body {
    height: auto;
  }

  .projects-wrapper {
    .desc {
      padding: 0px !important;
    }
  }

  .history {
    .slick-slider {
      .slick-next {
        right: -12px;
      }

      .slick-prev {
        left: -12px;
        z-index: 1;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .project-info.fp-section.fp-table,
  .fp-section.fp-table.projects {
    .fp-tableCell {
      padding: 0;
    }
  }

  .fp-section.fp-table.timeline {
    .fp-tableCell {
      padding-top: 30px;
    }
  }

  .what-we-do .fp-tableCell {
    height: auto !important;
  }

  .industry {
    .ant-tabs {
      .ant-tabs-tab-active {
        .title {
          > .image-icon {
            height: 15px;
            margin: 10px 0 0 30px;
          }
        }
      }
    }
  }

  .capabilitiesPage {
    .capabilitiesPageSlider {
      .brands {
        .flex {
          .cat-item {
            .image {
              a {
                .image-wrapper {
                  height: 250px;
                }
              }
            }
          }
        }
      }
    }
  }

  .relative {
    overflow-x: hidden;

    .bg-contact {
      padding-top: 66px;
    }
  }

  .sm\:justify-evenly {
    justify-content: space-evenly !important;
  }

  .brands {
    .slick-prev,
    .slick-next {
      bottom: 10px;
    }
    .slick-prev {
      left: 50%;
    }
    .slick-slide {
      padding: 0;
    }
    .category-wrapper {
      > li::after {
        content: '/';
        padding-left: 5px;
      }
      > span {
        display: none;
      }
    }
    .single-brand {
      .logo-wrapper {
        img {
          max-width: 90%;
        }
      }
    }
    .single-brand {
      .bg-img-wrapper {
        height: 150px;
      }
    }
    .slick-next {
      right: 10%;
    }
  }

  .section.brand-detail
    .brand-detail-wrapper
    .col-item
    .slogan
    .slo
    blockquote {
    min-width: 270px;
    min-height: 270px;
  }

  .section.brand-detail .brand-detail-wrapper .col-item .slogan .slo:before {
    left: 0%;
    min-width: 120px;
    font-size: 180px;
  }

  .industry {
    .ant-tabs {
      .ant-tabs-tab-btn {
        .title {
          font-size: 40px;
        }
      }

      .ant-tabs-nav-list {
        margin-bottom: 30px;
      }
    }

    .heading-tag {
      top: 1rem;
      background-color: #fff;
    }

    .ant-tabs {
      display: block;
    }

    .ant-tabs-tab {
      height: 38px;
      margin: 6px 0px 10px 0px;
    }

    .ant-tabs-nav-list {
      margin-top: 10%;
    }

    .ant-tabs-tab-active {
      .title {
        > .image-icon {
          height: 16px;
        }
      }
    }
    .ant-tabs {
      .ant-tabs-tab {
        height: 35px;
      }
    }
  }

  .ant-tabs-tabpane {
    padding-left: 0px !important;
  }

  .footer-responsive {
    display: block;
    padding: 0 1rem;
  }

  .footer-items-input {
    width: 100%;
  }
  .footer-items {
    width: 100%;
  }

  .h-body {
    height: calc(100vh - 66px);
  }

  .capabilitiesImage {
    height: auto !important;
  }

  .fp-section.fp-table {
    .fp-tableCell {
      padding-top: 66px;
    }
  }
  .slider {
    .text {
      width: 80%;
      .title {
        font-size: 30px;
        margin-bottom: 10px;
      }
      .desc {
        font-size: 15px;
      }
    }
  }
  .section.facts {
    .fact-item {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        border-bottom: 1px solid #fff;
      }

      &:nth-child(odd) {
        border-right: none;
      }
    }
  }

  .section.additional {
    .odd:first-child {
      .content {
        padding-left: 0;
      }
    }
  }

  .brand-p-item {
    a {
      .image-wrapper {
        height: 150px;
      }
    }
  }

  .projects-wrapper {
    &:nth-child(1) {
      .brands {
        .slick-slider {
          .slick-next {
            right: 8%;
          }
        }
      }
    }
  }

  .section.item-detail {
    .item-image {
      &:hover {
        .inner-content-detail {
          transform: translateY(0px) !important;
        }
      }
    }
  }

  .brandsProducts h2 {
    font-size: 25px;
  }

  .portfolio-h-body {
    height: auto;
  }

  .brandsProducts {
    .brand-p-item {
      .image-wrapper {
        height: 200px;
      }

      .title {
        min-height: 20px;
      }
    }
  }

  .projects-wrapper {
    .desc {
      padding: 0px !important;
    }
  }
  .certification {
    margin-top: 20px;
  }

  .history {
    .slick-slider {
      .slick-next {
        right: -12px;
      }

      .slick-prev {
        left: -12px;
        z-index: 1;
      }
    }
  }
  .career-scroll {
    overflow: unset;
    max-height: none;
  }

  .section.additional {
    .content {
      max-height: none;
    }
  }

  .history {
    .slick-slider {
      .slick-next {
        right: -20px;
      }

      .slick-prev {
        left: -3px;
        z-index: 1;
      }
    }
  }

  .capabilitiesPageSlider {
    .brands {
      .flex {
        .cat-item {
          padding: 0px;
          margin-bottom: 30px;
        }
      }
    }
  }

  .auto-overflow {
    max-height: unset !important;
    overflow: unset !important;
  }
}

@media only screen and (max-width: 320px) {
  .industry {
    .ant-tabs {
      .ant-tabs-tab-active {
        .title {
          > .image-icon {
            height: 15px;
            margin: 10px 0 0 30px;
          }
        }
      }
    }
  }

  .capabilitiesPage {
    .capabilitiesPageSlider {
      .brands {
        .flex {
          .cat-item {
            .image {
              a {
                .image-wrapper {
                  height: 250px;
                }
              }
            }
          }
        }
      }
    }
  }

  .history {
    .slick-slider {
      .slick-next {
        right: -20px;
      }

      .slick-prev {
        left: -3px;
        z-index: 1;
      }
    }
  }

  .section.additional {
    .content {
      max-height: none;
    }
  }

  .career-scroll {
    overflow: unset;
    max-height: none;
  }

  .history {
    .slick-slider {
      .slick-next {
        right: -12px;
      }

      .slick-prev {
        left: -12px;
        z-index: 1;
      }
    }
  }

  .certification {
    margin-top: 20px;
  }

  .industry {
    .ant-tabs {
      .ant-tabs-tab-btn {
        .title {
          font-size: 35px;
        }
      }
    }
  }

  .slider {
    .text {
      width: 90%;

      .title {
        font-size: 25px;
      }

      .desc {
        font-size: 15px;
      }
    }
  }

  .Industries-btn {
    margin: 0px 0px -2rem 5.5rem;
  }
  .brands-wrap {
    margin-left: 0px;
    margin-right: 1px;
  }

  .h-body {
    height: calc(100vh - 66px);
  }
  .socials {
    flex-wrap: wrap;
  }
  .brands .slick-prev {
    left: 10% !important;
  }

  .brands {
    .slick-slide {
      padding: 0;
    }

    .slick-prev {
      left: 10%;
    }

    .slick-next {
      right: 10%;
    }
  }
  .fp-section.fp-table {
    .fp-tableCell {
      padding-top: 66px;
    }
  }
  .brands {
    .single-brand {
      .bg-img-wrapper {
        max-width: 250px;
      }
      .bg-img-wrapper {
        height: 150px;
      }
    }
  }

  .news-slider {
    .slick-slider {
      .slick-prev {
        left: 60%;
      }
    }
  }

  .section.facts {
    .fact-item {
      &:nth-child(1),
      &:nth-child(2) {
        border-bottom: 1px solid #fff;
      }

      &:nth-child(odd) {
        border-right: none;
      }
    }
  }

  .section.additional {
    .odd:first-child {
      .content {
        padding-left: 0;
      }
    }
  }

  .brand-p-item {
    a {
      .image-wrapper {
        height: 130px;
      }
    }
  }

  .projects-wrapper {
    &:nth-child(1) {
      .brands {
        .slick-slider {
          .slick-next {
            right: 6%;
          }
        }
      }
    }
  }

  .section.item-detail {
    .item-image {
      &:hover {
        .inner-content-detail {
          transform: translateY(0px) !important;
        }
      }
    }
  }

  .portfolio-h-body {
    height: auto;
  }

  .section.brand-detail .brand-detail-wrapper .col-item {
    padding-right: 1rem;
  }

  .section.brand-detail
    .brand-detail-wrapper
    .col-item
    .slogan
    .slo
    blockquote {
    min-width: 200px;
    min-height: 200px;
  }

  .section.brand-detail .brand-detail-wrapper .col-item .slogan .slo:before {
    font-size: 150px;
    right: 100%;
  }

  .section.brand-detail .brand-detail-wrapper .col-item .logo img {
    max-width: 10rem;
  }

  .brandsProducts {
    .brand-p-item {
      .image-wrapper {
        height: 200px;
      }

      .title {
        min-height: 20px;
      }
    }
  }

  .projects-wrapper {
    .desc {
      padding: 0px !important;
    }
  }

  // .item-relations {
  //   height: 1200px;
  // }
}
