//main-colors
$text-color: #2d343e;
$text-secondary-color: #203047;
$light-gray: #ebf1f9;
$gray-color: #666666;
$dark-gray: #444444;
$border-gray: #cccccc;

//base-colors
$color-white: #fff;
$color-yellow: #fda50f;
$color-green: #3abc6f;
$color-blue: #03a9f4;
$dark-text: #2e2e2e;

//base colors
$background-color: #3b57ed;
$primary-color: #004894;
$nav-menu-font-color: #00488d;

//font-sizes
$nav-menu-font-size: 16px;

//nav-menu
$nav-menu-height: 420px;
